<!DOCTYPE html>
<html>
<head>
	<title>{{ titolo }}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style>
	<style type="text/css">
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}

		td, th {
		  border: 1px solid ;
		  text-align: left;
		  padding: 8px;
		}

		tr:nth-child(even) {
		  background-color: #dddddd;
		}

		.giustificato:nth-child(even) {
			background-color: red;
		}
    .center {
        margin: auto;   
        width: 100%;
    }
	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
<div class="text-center">
	<h1>Classe {{ classe }}</h1>
	<div class="btn-group">
	  <button class="btn {% if titolo == 'Appello' %} btn-secondary {% else %} btn-primary {% endif %}" onclick="window.location.href = '/{{ classe_ }}/appello/'">Appello</button>
	  <button class="btn {% if titolo == 'Interrogazioni' %} btn-secondary {% else %} btn-primary {% endif %}" onclick="window.location.href = '/{{ classe_ }}/interrogazioni/'">Interrogazioni</button>
	  <button class="btn {% if titolo == 'Giustificazioni' %} btn-secondary {% else %} btn-primary {% endif %}" onclick="window.location.href = '/{{ classe_ }}/giustificazioni/'">Giustificazioni</button>
	</div>
</div>
<br>
<table class="center">
	<tr>
		<th id="Numero">Numero</th>
		<th id="Cognome">Cognome</th>
		<th id="Nome">Nome</th>
		{% if titolo != "Interrogazioni" %}
			<th id="Giustifica">Giustificato</th>
		{% endif %}
		{% for data in date %}
			<th>{{ data }}</th>
		{% endfor %}
	</tr>
	{% for entry in matrice %}
		<tr>
			{% for cella in entry %}
				{% if cella == "G" and titolo != "Interrogazioni" %}
					<td class="giustificato"></td>
				{% else %}
					<td>{{ cella }}</td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
</table>

<script type="text/javascript">
	$("td").on("click", giustifica);
	$("td").on("click", interroga);
	$("th").on("click", nuova_interrogazione);

	function giustifica() {
    var $td = $(this),
        $th = $td.closest('table').find('th').eq($td.index())
        // $giust = $td.closest('table').find('td').eq($td.index());
    // if ($td.closest('table').find('th').eq($td.index()).attr("id")=="Giustifica"){

    // if ($th.attr("id")=="Giustifica"){    
    if ($th.attr('id')=="Giustifica"){    
    	var $row = $(this).closest("tr"),// Finds the closest row <tr> 
			    $id = $row.find("td:nth-child(1)"),
			    $cognome = $row.find("td:nth-child(2)"),
			    $nome = $row.find("td:nth-child(3)");

	   	if ($td.context.className=="" || 
	    		$td.context.className=="non_giustificato"){
				var confermato=confirm("Sei sicuro di voler giustificare "+$cognome.text()+" "+$nome.text()+" id: "+$id.text())
		    if (confermato){
		    	$td.context.className="giustificato"
		    	window.location.href = "/{{ classe_ }}/giustificazioni/nuova?stud_id="+$id.text();
		    }

			}
		 	else{
		 		var confermato=confirm("Sei sicuro di voler rimuover la giustificazione di "+$cognome.text()+" "+$nome.text()+" id: "+$id.text());
		    if (confermato){
			 		$td.context.className="non_giustificato"
				 	window.location.href = "/{{ classe_ }}/giustificazioni/rimuovi?stud_id="+$id.text();
				}
		 	}
		}
	}

	function interroga(){
		var $td = $(this),
				$th = $td.closest('table').find('th').eq($td.index()),
        $inter = $td.closest('table').find('td').eq($td.index());

    if ($th.text()=="Oggi"){
    	var $row = $(this).closest("tr"),// Finds the closest row <tr> 
			    $id = $row.find("td:nth-child(1)"),
			    $cognome = $row.find("td:nth-child(2)"),
			    $nome = $row.find("td:nth-child(3)");

			var confermato=confirm("Sei sicuro di voler interrogare "+$cognome.text()+" "+$nome.text()+" id: "+$id.text())
			if (confermato){
				var win = window.open("/{{ classe_ }}/interrogazioni/crea?stud_id="+$id.text(), '_blank');
			  win.focus();
			}
    }
    else if ($th.text()!="Oggi" && $th.attr('id')!="Giustifica" && $td.text()!=""){
    	var $row = $(this).closest("tr"),// Finds the closest row <tr> 
			    $id = $row.find("td:nth-child(1)"),
			    $cognome = $row.find("td:nth-child(2)"),
			    $nome = $row.find("td:nth-child(3)");

			var confermato=confirm("Sei sicuro di voler rimuovere l'interrogazione di "+$cognome.text()+" "+$nome.text()+" id: "+$id.text()+" del "+$th.text());
			if (confermato){
				var win = window.open("/{{ classe_ }}/interrogazioni/rimuovi?stud_id="+$id.text()+"&data="+$th.text(), '_blank');
			  win.focus();
			}
    }
	}

	function nuova_interrogazione(){
		if ($(this).text()=="Oggi"){
	   	window.location.href="/{{ classe_ }}/interrogazioni/random";
	  }
  }

</script>
</body>
</html>