<!DOCTYPE html>
<html>
<head>
	<title>Nuova Interrogazione</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style>
		.center {
			position: absolute;
			top: 50%;
			left: 50%;
		}
	</style>
	<script type="text/javascript">
		function invia (){
		  var form = document.getElementById("nuova_interrogazione").elements;
		 	console.log(form);
		 	var voto = form.namedItem('voto').value,
		 			note = form.namedItem('note').value;

		 	window.location="/{{ classe_ }}/interrogazioni/nuova?stud_id={{ studente.stud_id }}&voto="+voto+"&nota="+note;
		}
	</script>
</head>

<body>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8 text-center">
		<h3>
			Interrogazione di {{ studente.cognome }} {{ studente.nome }}, {{ studente.stud_id }}
		</h3>		
	</div>
	<div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="text-center col-sm-4 ">
  	<form id="nuova_interrogazione">
		  <div class="text-left">
		  	Voto:<br>
		  </div>
		  <input type="text" name="voto" style="width:100%" value="">
		  <br>
		  <div class="text-left">
		  	Note:<br>
		  </div>
		  <textarea name="note" style="width:100%" rows="5" maxlength="300"></textarea>
		</form> 
		<br>
		<button value="Salva" onclick="invia()">Salva</button>
  </div>
  <div class="col-sm-4"></div>
</div> 

</body>

</html>